.pip-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pip {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 5px;
}

.selected-pip {
    background-color: rgba(79, 122, 201, 1);
}

.not-selected-pip {
    background-color: rgba(79, 122, 201, 0.3);
}