.pip-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pip {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    margin: 5px;
}

.selected-pip {
    background-color: rgba(0,0,0,0.9);
}

.not-selected-pip {
    background-color: rgba(0,0,0,0.3);
}